alias ll='ls -al'
alias rm='rm -i'
alias psgrep='ps -ef | grep'
alias fn='find ./ -name'
alias pgstart='postgres -D /usr/local/var/postgres'
alias btc='/Applications/Bitcoin-Qt.app/Contents/MacOS/Bitcoin-Qt'
alias tomcat='cd /opt/boxen/homebrew/Cellar/tomcat/7.0.52/libexec/bin'
