
[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
excludesfile = /opt/boxen/config/git/gitignore
	ignorecase = false
	autocrlf = input
[push]
	default = simple
[user]
	name = ikruiper
	email = ikruiper@ymail.com

[hub]
protocol = https
